@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body{
    height: 100vh;
    padding: 0.2rem;
}



.nav-list{
    display: none;
    gap: 1.5rem;
}

@media screen and (min-width: 740px){
    .nav-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
}

.logo-title{
    font-size: 1.5rem;
    color: #E8751A;
    font-weight: bold;
    transition: all 0.3s linear 0s;
}

.logo-title:hover{
    color: black;
}

.nav-link{
    color: black;
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s linear 0s;
}

.nav-link:hover{
    color: #E8751A
}

.Contact-button{
    display: none;
    background-color: #E8751A;
    padding: .7rem;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    transition: all .5s linear 0s;
}

.Contact-button:hover{
    transform: scale(1.15);
}

@media screen and (min-width: 740px){
    .Contact-button{
        display: block;
    }
}

.header-content{
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem 1rem;
}

@media screen and (max-width:740px){
    .menu-button{
        display: block;
    }
}

.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}

.main-section{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
    gap: 2rem;
}

.left-container{
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}

#name{
    color: #E8751A;
}

.hi{
    color: #E8751A;
}

.para{
    font-size: 1.3rem;
}

.About-button{
    background-color: #E8751A;
    padding: .7rem;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    transition: all .5s linear 0s;
}

.About-button:hover{
    transform: scale(1.15);
}

.info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

@keyframes slideFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

.buttons{
    display: flex;
    gap: 1rem;
}

.circle{
    position: absolute;
    background-color: black;    
    filter: blur(150px);
    border-radius: 50%;
    opacity: 1;
    width: 300px;
    height: 200px;
    margin-top: 7rem;
}

.avatar-image{
    height: 380px;
    width: 250px;
    position: relative;
    transition: all .4s linear 0s;
}

.avatar-image:hover{
    transform: scale(1.1)
}

@media screen and (min-width:768px){
    .main-section{
        flex-direction: row;
    }

    .left-container{
        max-width: 50%;
        text-align: left;
        
    }

    .buttons{
        justify-content: start;
        padding-left: 0;
    }

}


.About-Section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 80%;
    margin: 0 auto;
    padding: 5rem;
}

.about{
    background-color: gainsboro;
    margin-top: 5rem;
}

.rightbox{
    width: 60%;
}

.aboutinfobox{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.abt{
    color: #E8751A;
}

#abt-2nd{
    color: #E8751A;
}

#AvatarImage{
    height: 350px;
    width: 280px;
    border-radius: 20px;
    box-shadow: 0px 1px 10px black;
    transition: all .4s linear 0s;
}

#AvatarImage:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 780px){
    .About-Section{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* justify-content: center; */
        justify-content:center;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;

    }
}

.ourservices{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 5rem;
}

.services-cards{
    display: flex;
    gap: 2rem;
}

.service-image{
    width: 50px;
    height: 40px;
}

.ser-card{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 20px;
    background-color: gainsboro;
    padding: 1.5rem;
    text-align: center;
    gap: 1rem;
    box-shadow: 0px 1px 8px black;
    transition: all .3s linear 0s;
}

.ser-card:hover{
    transform: scale(1.07);
    box-shadow: none;
    border: 2px solid #E8751A;
}

.service-title{
    color: #E8751A;
    font-weight: bold;
}

.services-heading{
    color: #E8751A;
}

@media screen and (max-width: 1350px){
    .services-cards{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}


.Skills{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    background-color: gainsboro;
    padding: 1rem;
    border-radius: 20px;
    animation: slideFromLeft 2s ease forwards;
}

.skills-logo{
    transition: all .3s linear 0s;
}

.skills-logo:hover{
    transform: scale(1.4);
}

@media screen and (max-width: 700px){
    .Skills{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        place-items: center;
    }
}

.contact-box-main{
    width: 80%;
    background-color: gainsboro;
    padding: 2rem;
    border-radius: 25px;
    margin: 4rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-container{
    display: flex;
    justify-content: space-around;
    padding: 5rem;
    gap: 4rem;
    align-items: center;
}

.contact-heading{
    color: #E8751A;
    transition: all .3s linear 0s;    
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
}

.contact-box{
    background-color: gainsboro;
    color: gray;
    border-radius: 40px;
    height: 40px;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
}

.contact-button-over{
    background-color: #E8751A;
    border-radius: 40px;
    height: 100%;
    width: 40%;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s linear 0s;
}

.contact-button-over:hover{
    transform: scale(1.1);
}

.placeholder{
    border: none;
    border-radius: 40px;
    width: 100%;
    height: 100%;
    padding: .8rem;
    margin: 1rem 0;
    box-shadow: 0px 0px 10px black;
}

@media screen and (max-width: 800px){
    .contact-box-main{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .contact-heading{
        font-size: large;
    }

    .contact-box{
        width: 70%;
        /* display: flex; */
        flex-direction: column;
        height: auto;   
    }
    .contact-button-over{
        padding: 1rem;
    }
}
@media screen and (max-width: 500px){
    .contact-box{
        width: 100%;
    }
}



.footer-container{
    background-color: white;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}

.footer{
    max-width: 1280px;
    padding:1.2rem 2.4rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.footer-top{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.65rem;
}

.comp-logo{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1.9rem;
}
.logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.28rem;
    font-weight: bold;
    color: #E8751A;
    transition: all .3s linear 0s;
}

.logo-link:hover{
    transform: scale(1.1);
}

.social-icon{
    width: 1.5rem;
    height: 1.5rem;
    transition: all .3s linear 0s;
}

.social-icon:hover{
    transform: scale(1.3);
}

.social{
    display: flex;
    gap: 0.8rem;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 58%;
    grid-gap: 5.67rem;
    padding-top: 2rem;
}

.footer-grid-heading{
    font-size: 1.05rem;
    font-weight: bold;
    color: #E8751A;
}

ul{
    list-style-type: none;
}
.footer-link{
    color: #777;
    font-size: 0.875rem;
}
.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footer-grid-heading{
    margin-bottom: 1.65rem;
}

.footer-copyright{
    color: var(--gray);
    font-size: 0.75rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 1.15rem;
    border-top: 1px solid #E5E7EB;
    text-align: center;
}

@media screen and (max-width:1080px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-top{
        padding-left: 10rem;
    }
    .footer-grid{
        align-self: center;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:850px) {
    .footer-top{
        padding-left: 1rem;
    }
    .footer-grid{
        grid-template-columns: repeat(2,1fr);
    }
}
